footer{
    color: white;
}
.footer-bg{
    margin: 100px auto;
    padding: 100px auto;
    background-color: rgb(43, 40, 40);
    height: fit-content;

}
/* .logos-bg{
    background-color: rgb(17, 17, 17);
} */
/* .logos-bg:hover{
    background-color: rgb(29, 8, 8);
} */
footer img{
    width: 390px;
    opacity: 30%;
    margin: 5px;
}
.social-icons{
    font-size: 30px;
    margin: 0px 15px;
}
a{
    color: white;
}

