
.blog-container{
    margin: auto;
    width: fit-content;
    padding: 100px 60px;
    background-color: rgb(226, 226, 223);
    border: 7px solid rgb(43, 42, 40);
    border-radius: 7px;
    box-shadow: -17px 17px 1px rgb(43, 42, 40);
}
.h2{
    font-size: 40px;
    padding-bottom: 20px;
}
.blog-container h4{
    font-weight: 700;
    font-size: 23px;
}
.blog-container p{
    font-size: 20px;
    font-weight: 500;
}

.blog-all-texts{
    margin: 20px auto;
    width: 1000px;
    text-align: left;
}