
.blog-container{
    width: fit-content;
    padding: 100px 60px;
    background-color: rgb(226, 226, 223);
}

.blog-container p{
    font-size: 20px;
}

.blog-all-texts{
    margin: 20px auto;
    width: 1100px;
    text-align: left;
}